# Git
.git/

# Virtual env
.venv/

# IDE files
.vscode/

# Claude related local files
.claude/
CLAUDE.md

# Python cache files
*.egg-info/
src/*.egg-info/
__pycache__
build/
dist/

# Local todo.md file
todo.md
